body {
    height: 100vh;
    background-color: tomato;
}

.triangle {
    position: fixed;
    top: 0;
    left: 0;
    border-top: 60px solid transparent;
    border-left: 60px solid rgb(41, 64, 140);
    border-bottom: 60px solid transparent;
}